<!DOCTYPE html>
<html>
<head>
	<title>Predict Automobile MPG</title>
</head>
<body>
	<form action="/submit">
		<p>
			<label for="Cylinders">Cylinders</label><br>
			<input type="number" name="Cylinders">
		</p>
		<p>
			<label for="Displacement">Displacement</label><br>
			<input type="number" name="Displacement">
		</p>		
		<p>
			<label for="Horsepower">Horsepower</label><br>
			<input type="number" name="Horsepower">
		</p>
		<p>
			<label for="Weight">Weight</label><br>
			<input type="number" name="Weight">
		</p>
		<p>
			<label for="Acceleration">Acceleration</label><br>
			<input type="number" name="Acceleration">
		</p>
		<p><button type="submit">Submit</button></p>
	</form>
</body>
</html>